@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700&display=swap');

html {
    font: inherit;
    font-size: 100%;
}

body {
    font-family: 'Roboto', Helvetica, Arial, sans-serif;
    color:#000;
    margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
    line-height: 1;
}

header {
    background-color:#F2F2F2;
    padding:15px;
}

h1 {
    color:#20a8b4;
    margin: 2px 0px 0px 0px;
    padding: 0px;
}

h2 {
    line-height:30px;
}

#nav {
    display: flex;
    flex-direction: column;
}

ul {
    list-style: none;
    padding: 0px;
    margin:10px 0px;
}

ul li {
    padding:5px 0px;
}

ul li a {
    color: #000
}

ul li a:hover {
    color:#ff5c0f
}

button {
    background-color:#20a8b4;
    border-radius: 10px;
    border:none;
    padding:12px;
    color:#fff;
    text-decoration:none;
    width:100%;
}

button:hover {
  cursor: pointer;  
  background-color:#ff5c0f;
}

a {
    text-decoration:none;
}

span {
    color: #ff5c0f;
}

#learn-more {
    display: flex;
    flex-direction: column;
    margin-top:60px;
    padding:15px;
}

#learn-more img {
    display:none;
}

@media screen and (min-width:768px) {
    #nav {
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    ul {
        margin:0px;
    }

    h1 {
        float:left;
    }

    ul li {
        padding:0px 5px;
    }

    #learn-more img {
        display:block;
        max-width: 400px;
        padding-right:25px;
    }

    #learn-more {
        padding:15px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    button {
        width:auto;
    }

}
